body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.show-btn {
  margin-bottom: 5px;
  font-size: 1.05em;
  cursor: pointer;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  background-color: gray;
}

.hide-btn {
  top: 6%;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  background-color: gray;
  font-size: 1.05em;
  cursor: pointer;
  position: absolute;
}

.text a {
  text-decoration: none;
}

.colors .color-holder,
.board .peg {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #777;
  margin-right: 8px;
  border-radius: 21px;
  cursor: pointer;
  background-color: #f0eaed;
}
.colors .red,
.circles .red {
  background-color: #e42244;
}
.colors .green,
.circles .green {
  background-color: #70c030;
}
.colors .yellow,
.circles .yellow {
  background-color: yellow;
}
.colors .turquoise,
.circles .turquoise {
  background-color: #36bedd;
}
.colors .purple,
.circles .purple {
  background-color: #9f66df;
}
.colors .orange,
.circles .orange {
  background-color: orange;
}

.colors .active {
  border: 2px solid black;
  border-radius: 21px;
}

.board div {
  margin-right: 5px;
  vertical-align: bottom;
}

.circles {
  margin-left: 5px;
}

.board {
  font-size: 0.9em;
  padding: 16px 0;
  color: beige;
  margin-right: 12px;
  cursor: pointer;
  margin: 0 auto 3px auto;
  text-align: center;
}

.check-button.hidden {
  display: none;
  cursor: default;
}

.hints span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #777;
  background-color: #f0eaed;
  margin: 15px 2px;
  font-size: 0.75em;
}

.hints span.exact {
  background-color: #00bb22;
}

.hints span.partial {
  background-color: #ddbb22;
}

.hidden {
  display: none;
}

.color-holder {
  cursor: default;
}

.solution a {
  color: #338855;
  font-size: 1.1em;
  text-decoration: underline;
  cursor: pointer;
}

.message {
  color: white;
  font-size: 40px;
}

.playAgainButton {
  padding: 10px;
  margin: 10px auto;
  background-color: transparent;
  color: #e4eddb;
  border: 1px solid #e4eddb;
  border-radius: 5px;
  cursor: pointer;
}

.game-container {
  margin: auto;
  text-align: center;
  background-color: gray;
  width: 500px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.check-button {
  top: 0;
  border: 1px solid black;
  color: whitesmoke;
  border-radius: 5px;
  background-color: gray;
  cursor: pointer;
  width: 60px;
  height: 30px;
}

.check-button.disabled {
  background-color: grey;
  color: rgb(202, 202, 202);
  border: 1px solid grey;
  cursor: default;
}

.row {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

h1 {
  padding-top: 10px;
  color: lightgray;
}

.hints {
  margin-left: 10px;
}

.row.active {
  margin: auto;
  width: 350px;
  background-color: lightgray;
  border-radius: 10px;
}

h2 {
  color: white;
}
